@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap");
@import "dark-theme.scss";

$popover-date-color: #5e5e5e;

$light-bg-color: #ffffff;
$light-core-color: #fc9601;
$light-blockcode-bg: #f1edf8;
$light-border: 1px solid #d0d7de;
$light-subtitle-color: #6d6d6d;



/*#region LIGHT THEME */
html,
body {
  height: 100%;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  background-color: #ffffff;
  padding-top: 20px;
}

body {
  overflow-y: overlay;
  scroll-behavior: smooth;
}

a {
  color: $light-core-color;
  text-decoration: none;

  &:hover {
    color: $light-core-color;
    text-decoration: underline;
  }
}

p strong {
  color: $light-core-color;
  font-weight: 600;
}

.anchor {
  margin-top: -80px;
}

.clickable {
  cursor: pointer;
}

.hoverable:hover {
  opacity: 0.7;
}

.red-text {
  color: #f44336 !important;
}

.page-wrapper {
  padding-top: 40px;
}

.card.iz-card {
  // padding-top: 50px;
  border: none;
  background-color: #ffffff00;
  margin-bottom: 20px;
  .card-body-wrapper {
    border-radius: 20px;

    min-height: 280px;
    position: relative;
    z-index: 2;
    padding: 15px;
    border: $light-border;
  }

  .card-header {
    border: none;
  }

  .card-img {
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    transform: scale(1);
  }

  .card-body {
    padding: 15px 0px 0px;

    .card-title {
      color: $light-core-color;
      font-weight: bold;
      margin-bottom: 3px;
    }
  }

  .card-date {
    font-size: 13px;
    color: #63696e;
  }

  .card-main-title {
    font-size: 22px;
    height: 26px;

    .LinesEllipsis:hover {
      cursor: pointer;
      color: $light-core-color;
      text-decoration: underline;
      transition: all 0.3s;
    }
  }

  .card-subtitle {
    font-size: 16px;
    color: #63696e;
    height: 60px;
  }

  .card-header {
    background-color: transparent;
    padding: 15px 0 0 0;
    img {
      --size: 45px;
      background-color: #fff;
      border-radius: 50%;
      // box-shadow: 2px 5px 25px rgba(0, 0, 0, .15);
      // left: 10px;
      // position: absolute;
      top: calc(-1 * (var(--size) / 2));
      width: var(--size);
      height: var(--size);
      object-fit: cover;
    }
  }

  &.iz-card-list {
    .card-body-wrapper {
      min-height: 180px;
    }

    .card-header {
      background-color: transparent;
      padding-bottom: 5px;
    }
  }
}

.card {
  margin-bottom: 60px;
}

.navbar-nav {
  margin-top: 2px;
}

.react-toggle {
  margin-top: 2px;
}

.iz-navbar.iz-nav-base {
  width: 100%;
  background-color: #ffffff;

  .iz-navbar {
    &-brand {
      color: black;
      font-size: 24px;
      letter-spacing: 1px;
      font-weight: bold;

      a {
        color: black;
        text-decoration: none;
      }
    }

    &-brand-name {
      margin-top: 2px;
    }

    &-item {
      margin-left: 15px;
      margin-right: 15px;
    }

    &-link {
      color: black;
      font-weight: 500;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;

      &.active {
        color: #7a99ff;
      }

      &:hover,
      &:focus {
        color: #7a99ff;
      }
    }
  }
}

.iz-navbar.iz-nav-base.iz-nav-default {
  padding: 30px;
  background-color: black !important;
}

.card-header {
  display: flex;
  // justify-content: center;
  align-items: center;

  &-title {
    margin-bottom: 0;
  }
}

.hljs {
  padding: 20px 20px 10px;
  background-color: $light-blockcode-bg;
  border-radius: 10px;
}

.image-alt {
  opacity: 0.6;
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}

.code-filename {
  color: #000000;
  font-style: italic;
  font-size: 16px;
  padding: 10px 15px;
  border-bottom: 1px solid #acacac;
}

.container-code {
  background-color: $light-blockcode-bg;
  border-radius: 10px;
  width: 100%;
  display: inline-block;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    left: -1000px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 50px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
  }
}

.code-pre {
  margin: 0;
  max-height: 350px;
  white-space: pre-wrap;
  word-break: break-word;
  border-radius: 10px;
}

.ljoDDa .clipWrapper button {
  margin: 10px 10px;
  background: #313131 !important;
  color: #fff;
  font-size: 15px;
  border-radius: 6px;
  display: none;
  border: 1px solid #bebebe !important;
}

.blog-image {
  margin-bottom: 10px;
  text-align: center;

  > img {
    max-width: 100%;
  }

  &-left {
    float: left;
    margin-right: 30px;
  }

  &-right {
    float: right;
    margin-left: 30px;
  }
}
.image-alt {
  margin-top: 3px;
}

.blog-detail-page {
  font-size: 16px;
  line-height: 28.9px;

  .blog-detail-header {
    .lead {
      font-size: 17px;
      margin-bottom: 40px;
    }
    &-title {
      font-size: 50px;
    }

    &-subtitle {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 300;
      color: $light-subtitle-color;
    }
  }
}

blockquote {
  position: relative;
  color: #999;
  font-size: 17px;
  font-family: Georgia, Times New Roman, Times, serif;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: border-box;
  background-size: 2em;
}

.author-name-blog-content {
  color: $light-core-color;
}

.author-avt {
  object-fit: cover;
}

.day-night-toggle.react-toggle {
  &.react-toggle--checked:hover {
    &:not(.react-toggle--disabled) .react-toggle-track {
      background-color: black;
    }
  }

  .react-toggle-track {
    background-color: black;
    &:hover {
      background-color: black;
    }

    &-x,
    &-check {
      right: 8px;
      width: 15px;
      height: 15px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &.react-toggle-thumb {
    border-color: #00000000;
  }

  &.react-toggle--focus .react-toggle-thumb {
    box-shadow: 0px 0px 2px 3px #00000000 !important;
  }

  &.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    box-shadow: 0px 0px 5px 5px #00000000;
  }
}

.page-footer {
  padding: 40px 0 40px 0;
  font-size: 17px;
  text-align: center;

  a {
    color: $light-subtitle-color;
  }
}

.popover-date {
  color: #fff;
  background-color: $popover-date-color;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 8px;
  .popover-arrow {
    transform: translate(97px, 1px) !important;
  }

  .popover-arrow::before,
  .bs-popover-bottom > .popover-arrow::before {
    border-bottom-color: $popover-date-color;
  }

  .popover-arrow::after,
  .bs-popover-bottom > .popover-arrow::after {
    border-bottom-color: transparent;
  }
}

.img-fluid {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.toggle-icon {
  color: $light-core-color;
}

.filtering-menu {
  border-radius: 6px;
  border: $light-border;
  color: $light-core-color;
}

.filter-button {
  border-right: $light-border;
}

.breadcrumbs-item a {
  text-decoration: none;
  color: $light-core-color;
}

@media (max-width: 576px) {
  .blog-detail-page {
    .blog-detail-header {
      .lead {
        margin-bottom: 20px;
      }
      &-title {
        font-size: 30px;
      }
    }
  }

  .blog-image {
    margin-left: auto;

    vertical-align: center;
    float: none;
  }
}

.category-item {
  width: fit-content;
  font-weight: 500;
}

.title-category {
  font-size: 25px;
  margin-top: 10px;
}

.menu-category {
  border: $light-border;
  padding: 15px;
  border-radius: 20px;
  position: sticky;
  top: 80px;
  right: 0;
  width: 100%;
  overflow-y: auto;
}

.fix-padding {
  padding-right: 0
}

.category-blog-detail {
  font-size: 20px;
}
/*#endregion LIGHT THEME*/

